<div class="table-container">
  <h2>Token Table</h2>

  <table>
    <thead>
      <tr>
        <th>Token</th>
        <th>Lexeme</th>
        <th>Line</th>
        <th>Column</th>
      </tr>
    </thead>

  <tbody>

  @for (token of tokens; track $index) {
    <tr>
      <td>{{ token.type }}</td>
      <td>{{ token.lexeme }}</td>
      <td>{{ token.line }}</td>
      <td>{{ token.column }}</td>
    </tr>
  }

  @if (tokens.length === 0) {
    <tr>
      <td colspan="4" class="empty-table">
        No tokens generated
      </td>
    </tr>
  }

</tbody>
  </table>
</div>